.colorPrimaIcon{
    color: #07575B !important;
}


.botnWelcome{
    border-radius: 20px !important;
    background-color: #07575B !important;
    color: white !important;
    font-weight: bold !important;

}